

{% block title %}AppBundle:Site:categorie{% endblock %}

{% block body %}
    <h1>Welcome to the Site:categorie page</h1>

    <button id="accueil"><a href="{{ path('accueil')}}">accueil</a></button>

{% endblock %}
